body {
  display: flex;
  flex-direction: column;
}

.main-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.btn {
  color: #222725;
  background-color: #899878;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: fit-content;
}

.btn:hover {
  color: #f7f7f2;
  background-color: #222725;
  font-weight: bold;
  font-size: 1.05rem;
}

footer {
  margin-top: auto;
}
