@media (min-width: 767px) {
  .project-card {
    width: 47%;
    height: 70vh;
  }
}

@media (min-width: 1200px) {
  .project-card {
    width: 30%;
    height: 70vh;
  }

  .project-card img {
    height: 50%;
  }
}
