html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------------------Add fonts----------------------- */
@font-face {
  font-family: "SourceSansPro";
  src: url(assets/fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: "SourceSansPro-Light";
  src: url(assets/fonts/SourceSansPro-ExtraLight.otf);
}

body {
  background-color: #01161e;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: "SourceSansPro";
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

h2,
h3,
h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

button,
.button {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #003049;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: #0115;
}

/*-----------------------------navigation------------------------*/
header {
  position: sticky;
  top: 0;
}

nav {
  font-size: 1.2rem;
  background-color: #0115;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

ul div {
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #01161e;
}

hr {
  margin: 0;
  border: none;
  height: 2px;
  background-color: #003049;
}

/* -----------------hero section------------------------*/
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
  padding-bottom: 30px;
}

#home h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

#home img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 70%;
}

/*--------------------------about section--------------------*/
#about {
  width: 100%;
  display: flex;
  padding: 10px;
}

#about img {
  width: 33.33%;
  max-width: 450px;
  height: 350px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 15px;
}

.about-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}

.about-info button {
  max-width: 200px;
}

/*-------------------------project section----------------------------*/
#projects button,
#projects h1 {
  margin: 20px 0;
}

.project-items {
  display: flex;
  justify-content: space-around;
}

.project-id {
  transition: transform 0.3s ease;
  padding: 15px;
}

.project-id:hover {
  transform: scale(1.05);
}

.project-id a {
  text-decoration: none;
  color: white;
}

.project-id a:hover {
  color: #003049;
}

.project-id img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/*--------------------contact-------------------*/
#contact .button {
  margin: 20px 0;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/*-------------------------footer-------------------------*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #0115;
  padding: 20px 0;
}

footer h4 {
  color: #003049;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials a {
  color: white;
  text-decoration: none;
}

.socials a:hover {
  color: #003049;
}

/*------------------------------responsive---------------------------------*/
@media (max-width: 768px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li a {
    padding: 10px 8px;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2,
  h3,
  h4 {
    font-size: 1rem;
  }

  #projects button,
  #projects h1 {
    margin: 15px 0;
  }

  form {
    padding: 15px;
    margin: 0 20px;
  }

  /* About Section */
  #about {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }

  #about img {
    width: 250px;
    height: 250px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .about-info {
    text-align: center;
  }

  .background {
    margin-bottom: 15px;
  }

  .skills {
    margin-bottom: 15px;
  }

  /* Projects Section */
  .project-items {
    flex-direction: column;
    align-items: center;
  }

  .project-id {
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-id img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  /* Footer */
  footer {
    flex-direction: column;
    text-align: center;
  }

  footer > div {
    margin-bottom: 20px;
  }
}
