*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------------------Add fonts----------------------- */
@font-face {
  font-family: "SourceSansPro";
  src: url(assets/fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: "SourceSansPro-Light";
  src: url(assets/fonts/SourceSansPro-ExtraLight.otf);
}

body {
  background-color: #01161e;
  color: white;
  text-align: center;
  line-height: 1.5;
  font-family: "SourceSansPro";
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;
}

h2,
h3,
h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

button,
.button {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #003049;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: #0115;
}

/*-----------------------------navigation------------------------*/
header {
  position: sticky;
  top: 0;
}

nav {
  font-size: 1.2rem;
  background-color: #0115;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

ul div {
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #01161e;
}

hr {
  margin: 0;
  border: none;
  height: 2px;
  background-color: #003049;
}

/* -----------------hero section------------------------*/
#home {
  background-color: #0115;
  margin: 40px;
  display: flex;
}

#home img {
  width: 250px;
  flex: 1;
}

.hero-intro {
  padding: 50px 0 50px;
}

.hero-intro h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

.hero-intro img {
  height: 270px;
  object-fit: cover;
  border-radius: 50%;
  padding-bottom: 15px;
}

/*--------------------------about section--------------------*/
#about {
  display: flex;
  padding: 10px;
}

#about img {
  width: 250px;
  height: 350px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 15px;
}

.about-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}

/*-------------------------project section----------------------------*/
#projects button,
#projects h1 {
  margin: 20px 0;
}

.project-items {
  display: flex;
  justify-content: space-between;
}

.project-id img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/*--------------------contact-------------------*/
#contact .button {
  margin: 20px 0;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styling for submit button */
input[type="submit"] {
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.2rem;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/*-------------------------footer-------------------------*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #0115;
  padding: 20px 0;
}

footer h4 {
  color: #003049;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials a {
  color: white;
  text-decoration: none;
}

.socials a:hover {
  color: #003049;
}
