html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: black;
  text-align: center;
  line-height: 1.5;
  font-family: "";
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

header {
  background-color: #780000;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav img {
  width: 50px;
  height: 50px;
}

.nav-links a {
  color: white;
  padding: 0 10px;
  text-decoration: none;
}

#home {
  height: 30vh;
  padding: 65px 50px;
}

#phones {
  height: 300vh;
}

.samsung {
  height: 50%;
  background-color: #669bbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.iphone {
  height: 50%;
  background-color: #fdf0d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.showcase {
  background-color: white;
  border: none;
  border-radius: 15px;
  width: 50%;
}

.showcase img {
  height: 200px;
}

#about {
  margin: 30px 10px;
}

#about p {
  padding: 10px 0;
}

footer {
  background-color: #003049;
  padding: 20px 0;
}

.footer-info {
  display: flex;
  justify-content: space-around;
}

.shops {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shops a {
  color: white;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.socials a:hover {
  color: #669bbc;
}

footer p {
  color: #669bbc;
  opacity: 0.3;
  font-size: 1.05rem;
}
