html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* background-color: #01161e; */
  color: black;
  text-align: center;
  line-height: 1.5;
  font-family: "";
}

header {
  background-color: #780000;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav img {
  width: 50px;
  height: 50px;
}

.nav-links a {
  color: white;
  padding: 0 10px;
  text-decoration: none;
}
