html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: black;
  text-align: center;
  line-height: 1.5;
  font-family: "";
}

header {
  background-color: #780000;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav img {
  width: 50px;
  height: 50px;
}

.nav-links a {
  color: white;
  padding: 0 10px;
  text-decoration: none;
}

#home {
  height: 30vh;
  padding: 65px 50px;
}

#phones {
  height: 300vh;
}

.samsung {
  height: 45%;
  background-color: #669bbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.iphone {
  height: 45%;
  background-color: #fdf0d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.showcase {
  background-color: white;
  border: none;
  border-radius: 15px;
  width: 50%;
}

.showcase img {
  height: 200px;
}
