html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 2.2em;
  color: #222725;
}
h2 {
  font-weight: bold;
  font-size: 1.5em;
}

button {
  background-color: #899878;
  color: #121113;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  font-size: 1.05rem;
}

/*----------------------navigation-----------------------------*/
header {
  background-color: #e4e6c3;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

header img {
  max-width: 70px;
  max-height: 70px;
  padding-right: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  padding: 10px;
  color: #222725;
}

nav a:hover {
  color: #121113;
}

/*--------------------hero section-------------------*/
#home {
  background-color: #f2f2dc;
  min-height: 70vh;
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #e4e6c3;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50vh;
  min-width: 80%;
  height: auto;
  box-shadow: 3px 3px 7px rgba(186, 191, 144, 0.5);
  color: #222725;
}

.hero :first-child {
  text-align: center;
}

.hero :first-child p {
  font-style: italic;
  font-size: 1.2rem;
}

.hero-buttons button:hover {
  background-color: #121113;
  color: #e4e6c3;
  transform: scale(1.1);
  margin: 5px;
}

/*--------------------about------------------------*/
#about {
  background-color: #899878;
  color: #f7f7f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  max-width: 100vw;
  height: auto;
  padding: 0 20px;
}

#about div {
  height: 40vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 1.2rem;
}

/*------------------speaker section-------------------------*/
