html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 2.2em;
  color: #222725;
}
h2 {
  font-weight: bold;
  font-size: 1.5em;
}

button {
  background-color: #899878;
  color: #121113;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  font-size: 1.05rem;
  max-width: fit-content;
}

/*----------------------navigation-----------------------------*/
header {
  background-color: #e4e6c3;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

header img {
  max-width: 70px;
  max-height: 70px;
  padding-right: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  padding: 10px;
  color: #222725;
}

nav a:hover {
  color: #121113;
}

/*--------------------hero section-------------------*/
#home {
  background-color: #f2f2dc;
  min-height: 70vh;
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #e4e6c3;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50vh;
  min-width: 80%;
  height: auto;
  box-shadow: 3px 3px 7px rgba(186, 191, 144, 0.5);
  color: #222725;
}

.hero :first-child {
  text-align: center;
}

.hero :first-child p {
  font-style: italic;
  font-size: 1.2rem;
}

.hero-buttons button:hover {
  background-color: #121113;
  color: #e4e6c3;
  transform: scale(1.1);
  margin: 5px;
}

/*--------------------about------------------------*/
#about {
  background-color: #899878;
  color: #f7f7f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  max-width: 100vw;
  height: auto;
  padding: 0 20px;
}

#about div {
  height: 40vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 1.2rem;
}

/*------------------speaker section-------------------------*/
#speakers {
  min-height: 100vh;
  height: auto;
  background-color: #222725;
  color: #f7f7f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.speaker-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 90%;
  gap: 30px;
}

.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  border: 1px solid #e4e6c3;
  box-shadow: 3px 3px 7px rgba(186, 191, 144, 0.5);
  padding-bottom: 10px;
  border-radius: 7px;
  color: #f7f7f2;
  font-size: 1.2rem;
  margin-top: 20px;
}

.speaker img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.speaker :nth-child(3) {
  font-style: italic;
  font-size: 0.9rem;
}

/*--------------------agenda---------------------*/
#agenda {
  padding-bottom: 30px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  color: #222725;
  background-color: #f7f7f2;
}

#agenda ul {
  display: flex;
  flex-direction: column;
}

strong {
  font-weight: bold;
}

/*------------------------venue and tickets------------------------*/
#venue-tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  min-height: 75vh;
  background-color: #222725;
  color: #f7f7f2;
}

#venue-tickets article {
  max-width: 90vw;
  display: flex;
  justify-content: center;
  /* height: 70%; */
}

.venue-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  font-size: 1.2rem;
  margin-right: 20px;
}

.register {
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
}

article button:hover {
  background-color: #121113;
  color: #e4e6c3;
  transform: scale(1.1);
  margin: 5px;
}
